/* THEME - COLORS - Cerulean Blue */

$darkCerulean: rgba(0, 72, 124, 1);
$pictonBlue: rgba(75, 179, 253, 1);
$tealBlue: rgba(54, 117, 136, 1);
$azure: rgba(4, 150, 255, 1);
$trueBlue: rgba(2, 123, 206, 1);

$white: #ffffff;
$black: #000;

$error: #cc0000;