/* LAYOUT */

/** TODO: */
//@import "../../node_modules/sass-flexbox/sass-flexbox";

@import "colors";

body {
  background-color: $tealBlue;
  margin: 0;
}

.header {
  background-color: $darkCerulean;
  color: $tealBlue;
  height: 60px;
  padding: 20px;
  line-height: 30px;
  margin: 0;
}

.slideshow {

  width: 100%;

  .thumbnail {

    width: 20%;
    position: relative;
    float: left;

    text-align: center;

    & > img {
      width: auto;
      height: 200px;
    }

    & > span {
      display: block;
      padding: 5px 0;
    }

    &:hover {
      background-color: $azure;

      & > span {

        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 750px) {

}