/* LAYOUT */

/** TODO: */
//@import "../../node_modules/sass-flexbox/sass-flexbox";

@import "colors";

body {
  background-color: $tealBlue;
  margin: 0;
}

.header {
  background-color: $darkCerulean;
  color: $tealBlue;
  height: 60px;
  padding: 20px;
  line-height: 30px;
  margin: 0;
}

.search {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.slideshow {
  width: 800px;


  .slick-slider {

    width: 750px;
    margin-left: 100px;


    .slick-arrow {
      &.slick-prev {

      }

      &.slick-next {

      }
    }
  }
}


.thumbnail {
  height: 300px;
  width: 90%;

  & > img {
    display: block;
    margin: 0 auto;
  }
}


@media (max-width: 750px) {

}